@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


html{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/walppaper.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}


.n-bar{
    margin-top: none;
    height: 5vh;
    background: #03002977;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgb(86, 50, 180);
    width:5vw;
    text-align: center;
}
