@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


html{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/walppaper.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}


.n-bar{
    margin-top: none;
    height: 5vh;
    background: #03002977;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
}
a{
    text-decoration: none;
    width:5vw;
    text-align: center;

}
a:hover{
    background-color: #03002977;
    transition: all .3s ease-in-out;

}

.links{
    margin-top: 0.5vw;
}
.links:hover{
    transition: all .3s ease-in-out;
    color: rgb(255, 140, 0);
}
