@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');



html{
    height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('/walppaper.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    color: white;
    font-family: 'Oswald', sans-serif;

}
form{
    text-align: center;
}
form  button{
    color: black;
}
input{
    width:10vw;
    background-color: rgba(133, 38, 133, 0);
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    border-bottom: 2px solid rgba(133, 38, 133, 0.518);
}

h1{
    text-transform: uppercase;
}

.principal{
   
    width: 50vh;
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}

input{
    margin-bottom: 2vh;
}
.inpts{
    display: flex;
    flex-direction: column;
    text-align: center;
}